input {
    outline: none;
}

.main-nav:focus {
    border: none;
}

.btn-search {
    border-radius: 100px;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Fondo con imagen transparente */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg-main-min.jpg");
    background-size: cover;
    background-position-y: -600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
}
